ion-grid{
    --ion-grid-padding:               0px;
    --ion-grid-column-padding:        0px;
}
/*ion-item{
    --border-widt: 1px;
    --border-color: #e04055;
}*/

h3{
    font-size: 17px;
    font-weight: bold;
}